/*
mod_flexpopup css style
@package    Joomla
@subpackage Modules
@date       2016
@author     Pierre Corell
@homepage   https://joomla-praxis.de
*/
#flexClose {
    position: absolute;
    right: -30px;
    top: -30px;
    background: rgba(255,255,255,.5);
    width: 45px;
    height: 30px;
    text-align: center;
    padding-top: 15px;
    z-index: -1;
    border-radius: 0 50%;
}
.flexPop > div {
    position: relative; height: auto; padding: 10px; margin: 0 auto;
}